@import "tailwindcss";

:root {
  --background: #fff; /*背景*/
  --foreground: #252525; /*テキスト*/
  --primary: #f5b111; /*アクセント*/
  --primary-foreground: #000; /*アクセント上のテキスト*/
  --muted: #f0f0f0; /*サブ背景*/
  --muted-foreground: #a1a1a1; /*サブテキスト*/
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fadeIn 1.5s ease-out forwards;
}
